*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}
.btn{
    padding: 4px 8px;
    margin: 4px 8px;
    border: 2px solid black;
    box-shadow: 3px 3px 1px black;
    cursor: pointer;
}
.color-1{
    color: white;
    background-color: #ff005d;
}
.color-2{
    color: rgb(255, 255, 255);
    background-color: #36c2de;
}
.color-3{
    color: rgb(255, 255, 255);
    background-color: #d46b76ae;
}
.cursiva{
    font-style: italic;
}
.navbar{
    width: 700px;
    margin: 0 auto;
    background-color: #9b0a92ae;
}

.navbar-elements{
    padding: 5px 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin-left: 30px;
    font-size: 2rem;
}
.main{
    width: 700px;
    display: flex;
    margin: 10px auto;
    padding: 10px;
}
.col-1{
    flex: 70%;
}
.col-2{
    flex: 30%;
}
.card{
    margin: 10px 20px;
    border: 3px solid rgb(249, 14, 14);
    border-radius: 1px;
    display: flex;
    align-items: center;
}
.like-elements{
    list-style-type: none;
    width: 150px;
    margin: 5px 10px;
    padding: 5px;
    text-align: center;
}
.adds{
    margin: 10px 0px;
    padding: 10px;
    border: 3px solid rgba(252, 44, 252, 0.697);
}
.add-button{
    text-align: center;
}

