body{
    font-family: 'Balsamiq Sans', cursive;
}
.TarjetaUsuario{

    display: flex;
    flex-direction: column;
    width: 600px;
    border: 2px solid seagreen;
}
header{
    background-color:rgb(56, 179, 228);
    position: relative;
    height: 80px;
}
.avatar{
    width: 80px;
    position: absolute;
    left: 2%;
    top: 37%;
    border: 2px solid rebeccapurple;
    border-radius: 50%;
    padding: 1px;
}
main{
    padding: 10px;
}
.nomebreusuario{
    margin-top: 35px;
}
.icono{
    width: 15px;
}
.ubicacion, .edicion{
    display:flex;
    flex-direction: row;

}
.ciudad, .editarperfil{
    margin-left: 10px;
}
.ubicacion{
    margin-top: 10px;
}
.edicion{
    margin-top: 10px;
}